body {
  background: rgb(177, 239, 255);
}
h1 {
  text-align: center;
}
/*
   position: auto;
   position: fixed;
   position: sticky;
*/
.menuPrincipal {
  position: auto; 
  background: rgb(161, 205, 235);
  width: 100%;
  height: 45px;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;}
  li a:hover {
    color: rgb(167, 255, 236);
  }
#image {
  width: 30%;
}
.boxImage {
  position: absolute;
  width: 50%;
  height: 300px;
  top: 50px;
  margin: 20px;
  border-color: rgb(167, 255, 236);
  border-width: 20px;
  border-style: solid;
padding: 20x;
}