body {
  background: #06307e;
}
h1 {
  text-align: center;
  color: #ffffff;
}
/*
   position: auto;
   position: fixed;
   position: sticky;
*/
.menuPrincipal {
  position: relative; 
  background: #3569c9;
  border-style: inset;
  width: 100%;
  height: 45px;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  li a:hover {
    color: #3569c9;
  }
#image {
  width: 30%;
}
.boxImage {
  position: absolute;
  width: 50%;
  height: 300px;
  top: 50px;
  margin: 20px;
  border-color: #3569c9;
  border-width: 20px;
  border-style: solid;
padding: 20x;
}
.seloo {
  position: absolute;
  top: 3;
  right: 0;
  z-index: 999;
  width: 126px;
  height: 100px;
}
#rodape {
  position: relative;
  bottom: 0;
  border-radius: 25px;
  width: 50%;
  height: 25px;
  background: #3569c9;
  color:#ffffff;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.capaRodape {
 position: relative;
 width: 100%;
 display: flex;
  justify-content: center;
}
#imgh {
 position: right;
}
.as1 {
  position: right;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100px;
  height: 80px;
}
